<!-- remove this code for template start -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>sign up modal</title>

    <!-- remove this code for template end -->

    <!-- OWN CSS FILES-->
    <link rel="stylesheet" href="../login/assets/login.css" type="text/css" />
    <!-- END OWN CSS FILES-->
  </head>
  <body>
    <!-- landing page -->

    <h2>Modal Login Form</h2>
    <button
      onclick="document.getElementById('signup-modal').style.display='block'"
      style="width: auto"
      class="modal-button"
    >
      Sign Up
    </button>

    <!-- create account Modal Start -->

    <div id="signup-modal" class="modal">
      <form
        class="modal-content animate"
        action="/action_page.php"
        method="post"
      >
        <div class="imgcontainer">
          <span
            onclick="document.getElementById('signup-modal').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
        </div>

        <div class="modal-container">
          <span class="modal-headline"><h1>Sign Up</h1></span>
          <button type="button" class="login-with-google-btn modal-button">
            Sign in with Google
          </button>
          <label for="uname"><b>Username</b></label>
          <input
            type="text"
            class="modal-input"
            placeholder="Enter Username"
            name="uname"
            id="uname"
            autocomplete="username"
            required
          />
          <label for="email"><b>Email</b></label>
          <input
            type="email"
            class="modal-input"
            dplaceholder="Enter Email"
            name="email"
            id="email"
            autocomplete="email"
            required
          />
          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            class="modal-input"
            placeholder="Enter Password"
            name="psw"
            id="psw"
            required
          />
          <button type="submit" class="modal-button">Sign Up</button>
          <div class="text-inline">
            <label for="remember" class="remember">
              <input
                type="checkbox"
                checked="checked"
                id="remember"
                name="remember"
              />
              Remember me
            </label>
            <!-- <span class="psw forgotPassword">
              <a href="#" class="forgotPassword" id="psw">Forgot password?</a>
            </span> -->
          </div>
        </div>

        <div class="modal-container">
          <button type="button" class="signup modal-button">Log In</button>
        </div>
      </form>
    </div>

    <!-- create account Modal End -->

    <script src="./assets/createAccount.js"></script>
  </body>
</html>
