<!-- remove this code for template start -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>login modal</title>

    <!-- remove this code for template end -->

    <!-- OWN CSS FILES-->
    <link rel="stylesheet" href="./assets/login.css" type="text/css" />
    <!-- END OWN CSS FILES-->
  </head>
  <body>
    <!-- landing page -->

    <h2>Modal Login Form</h2>

    <button
      onclick="document.getElementById('login-modal').style.display='block'"
      style="width: auto"
      class="modal-button"
    >
      LOG IN
    </button>

    <!-- Login Modal Start -->

    <div id="login-modal" class="modal">
      <form
        class="modal-content animate"
        action="/action_page.php"
        method="post"
      >
        <div class="imgcontainer">
          <span
            onclick="document.getElementById('login-modal').style.display='none'"
            class="close"
            title="Close Modal"
            >&times;</span
          >
        </div>
        <div class="modal-container">
          <span class="modal-headline"><h1>Sign In</h1></span>
          <button type="button" class="login-with-google-btn modal-button">
            Sign in with Google
          </button>
          <label for="uname"><b>Username</b></label>
          <input
            type="text"
            id="uname"
            name="uname"
            class="modal-input"
            placeholder="Enter Username"
            autocomplete="username"
            required
          />
          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            id="psw"
            name="psw"
            class="modal-input"
            placeholder="Enter Password"
            autocomplete="current-password"
            required
          />
          <button type="submit" class="modal-button">Log In</button>
          <div class="text-inline">
            <label for="remember" class="remember">
              <input
                type="checkbox"
                checked="checked"
                id="remember"
                name="remember"
              />
              Remember me
            </label>
            <span class="psw forgotPassword">
              <a href="#" class="forgotPassword" id="psw">Forgot password?</a>
            </span>
          </div>
        </div>

        <div class="modal-container">
          <button type="button" class="signup modal-button">Sign Up</button>
        </div>
        <!-- <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('login-modal').style.display='none'" class="cancelbtn">Cancel</button>
          
        </div>  -->
      </form>
    </div>

    <!-- Modal End -->
    <script src="./assets/login.js"></script>
  </body>
</html>
