<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    {{> header}}
    {{{body}}}
    {{> footer}}

  <script src="./assets/createAccount.js"></script>
  <script src="./assets/login.js"></script>
</body>
</html>
