@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Red+Hat+Display:wght@300..900&display=swap');

/* General Styles */
body {
    background-color: #899876;
    font-family: "Poppins", Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar {
    background-color: #042a2b;
    color: #c5E6A6;
}

.navbar-brand, .nav-link {
    padding: 0 1%;
    text-decoration: none;
    color: #c5E6A6;
}

/* No Button */
.no-button {
    background-color: #899878;
    border: none;
    border-radius: 10px;
    padding: 1% 3%;
}

/* Homepage */
.homepage-headline {
    margin-top: 2%;
}

.headline {
    padding: 2%;
    font-weight: bold;
}

.activities-container {
    justify-content: center;
    align-items: center;
    height: min-vh-100;
    padding: 2%;
}

.search-form {
    max-width: 350px;
}

.search-title, .park-name {
    font-weight: bold;
}

/* Change cursor to pointer when hovering over the search input */
#parkName:hover {
    cursor: pointer;
} */

.activity-item {
    align-items: center;
    background-color: #042a2b;
    color: #c5E6A6;
    border-radius: 20px;
    border: none;
    padding: 4%;
}


/* Saved Activities */
#saved-activities-headline, .saved-park-headline {
    text-align: center;
    margin-top: 3%;
}

.saved-park-headline h1 {
    font-size: small;
    color: #6b4b3e;
    text-align: c
    enter;
    padding: 2%;
    margin: 2% 0;
    }

.saved-activity-card {
    display: flex;
    flex-direction: row;
    background-color: #042a2b;
    color: #c5e6a6;
    padding: 2% 1%;
    border-radius: 20px;
    align-items: center;
    margin: 2% 0%;
}

.saved-activity-image-div {
    display: flex;
    text-align: left;
    justify-content: left;
}

.saved-activity-image {
    border-radius: 15px;
    width: 100%;
    max-width: 200px;
    margin: 0;
}

.saved-activities-title {
    text-align: left;
    align-items: center;
    padding: 0 4%;
    font-size: 90%;
}
.saved-activity-link {
    text-decoration: none;
    color: #C5E6A6;
}

.delete-btn-form, .delete-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button {
    position: absolute;
    right: -520px;
    top: 50%;
    transform: translateY(-50%);
}

/* Media Queries */
@media only screen and (max-width: 800px) {
    .activity-item{
        display: flex;
        flex-direction: column;
    }
    
    .activity-item img {
        width: 100px;
        height: auto;
        border-radius: 0.25rem;    
    }

    .activity-item .save-btn-form {
        position: absolute;
        /* right: 10px; */
        top: 50%;
        transform: translateY(-50%);
    }

    .activty-item span{
    margin-top:10%;
    }

    .saved-activities-title {
        text-align: left;
        align-items: center;
        padding: 0 4%;
        font-size: 90%;
    }

    .saved-activity-card {
        display: flex;
        flex-direction: column;
        padding: 1%;
        margin: 0;
    }

    .delete-button-div, .saved-activity-image-div {
        margin: 4% 0;
    }

    .saved-activity-image-div {
        justify-content: center;
    }

    .saved-activity-image {
        min-width: 100px;
        margin: 0;
    }
}

/* Input Icon */
.input-icon {
    position: relative;
    background-image: url('https://cdn.wallpapersafari.com/56/55/bNZJ0K.jpg');
    background-size: cover;
    background-position: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-icon input {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding-left: 2.5rem;
}

.input-icon .fa-search {
    color: #000;
    position: absolute;
    right: 1.4rem;
    top: 50%;
    transform: translateY(-50%);
}

.input-icon input::placeholder {
    color: #000000;
}

/* Miscellaneous */
.divider {
    border: none;
    border-top: 3px solid #000000;
    margin: 10px 0;
    width: 50%;
}

.activity-item {
    background-color: #042A2B;
    color: #fff;
    border: 2px solid #C5E6A6;
    border-radius: 1rem;
    margin: 10px 0 3px 0;
    padding: 10px;
    position: relative;
}

.activity-item img {
    width: 100px;
    height: auto;
    border-radius: 0.25rem;
    margin-right: 20px;
}

.activity-item .activity-content {
    flex-grow: 1;
}

.activity-item .save-btn {
    position: absolute;
    float: right;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.activities-list {
    margin-top: 20px;
    overflow-x: hidden;
    cursor: pointer;
    width: 70%;
}

h2 {
    text-align: center;
}

footer {
    margin-top: 25px;
  }
  
  footer p {
    line-height: .5;
    font-size: smaller;
  }
  