/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */


.navbar {
  background-color: #042a2b !important;
  color: #c5E6A6;
}

.nav-link, .navbar-brand {
  text-decoration: none;
  color: #c5E6A6;
}

.no-button {
background-color: #899878;
border: none;
border-radius: 10px;
padding: 1% 3%;

}
