.navbar {
  background-color: #042a2b !important;
  color: #c5E6A6;
}

.nav-link, .navbar-brand {
  text-decoration: none;
  color: #c5E6A6;
}

.no-button {
background-color: #899878;
border: none;
border-radius: 10px;
padding: 1% 3%;

}
